*
  box-sizing: border-box
body
  +reg
.container
  width: 1170px
  margin: auto
h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0
input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active
  outline: none
@media (max-width: 1200px)
  .container
    max-width: 760px
    width: 90%
    margin: auto
@media (max-width: 768px)
  .container
    max-width: 580px
    width: 90%

.button
  border-radius: 10px
  background-color: $main-color
  border: none
  padding: 18px 30px
  //animation: pulse 2s infinite
  &:hover
    background-color: lighten($main-color, 10%)
    cursor: pointer

.section
  padding: 74px 0
  &-title
    font-size: 24px
    +bold
    text-align: center
    max-width: 500px
  &-subtitle
    font-size: 16px
    display: block

.input
  border: 1px solid $border-input
  padding: 20px 26px
  font-size: 15px
  border-radius: 10px


.arrows
  &__left, &__right
    &:hover
      cursor: pointer

.invalid
  border: 1px solid red 
  &:focus, &:active,
    border: 1px solid red 

.offer__form-eror
  display: flex
  position: relative

#username-error
  border: none
  position: absolute
  bottom: -20px
  left: 0
#phone-error
  border: none
  position: absolute
  bottom: -20px
  right: 0

#name-error,
#email-error,
#telephone-error,
  border: none